            .about {
                background-color: #7B14AA;
                color: wheat;
                text-align: center;
                font-size: 20px;
            }
            
            .col2 {
                background-color: #600C87;
                color: wheat;
                text-align: center;
                font-size: 20px;
                height: 80%;
            }
            
            .col3 {
                background-color: #7E399E;
                color: wheat;
                text-align: center;
                font-size: 20px;
                height: 80%;
            }
            
            .col4 {
                background-color: #8529B0;
                color: wheat;
                text-align: center;
                font-size: 20px;
                height: 80%;
            }
            
            .ab {
                background-color: whitesmoke;
            }